.encabezado{
    background-color: rgba(3, 3, 158, 0.934);
    color: orange;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    margin-top: 24px;
}

.Materiales{
    color: orange;
}

.Clientes{
    color: orange;
}

.Configuración{
    color: orange;
}

.Facturas{
    color: orange;
}

.imag{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 110px;
    
}

.content{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;

}

.content_2{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
}

.tabla_contenedor th {
    padding-left: 80px;
    
}

.forma_de_pago{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
}