:root{
    --azul:#082474 ;
    --naranja:#ffa500; 
}
.encabezado{
    background-color: var(--azul);
    border-radius: 15px;
    color: var(--naranja);
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    margin-top: 24px;
}
.navbar a{
    margin: 8px; 
    text-decoration: none;
    color: var(--naranja);
}

.imag{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 110px;
    
}

.content{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: var(--naranja);

}

.content_2{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: var(--naranja);
}

.tabla_contenedor th {
    text-decoration: underline;
    padding-left: 80px;
    
}

.parrafos{
    margin: 10px;
    padding: 3px;
}

.total {
    margin-left: 1100px;
    }

.forma_de_pago{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: var(--naranja);
}

.button{
    background-color: var(--azul);
    color: white;
}

#fecha{
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: var(--naranja);
    padding: 3px;
    margin: 0;
}
.guardar{
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: whitesmoke;
}

