.encabezado{
    background-color: rgba(3, 3, 158, 0.934);
    border-radius: 15px;
    color: orange;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    margin-top: 24px;
}
.navbar a{
    margin: 8px; 
    text-decoration: none;
    color: orange;
}

.imag{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 110px;
    
}

.content{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: orange;

}

.content_2{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: orange;
}

.tabla_contenedor th {
    padding-left: 80px;
    
}

.parrafos{
    margin: 10px;
    padding: 3px;
}

.total {
    margin-left: 1100px;
    }

.forma_de_pago{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    padding: 13px;
    color: orange;
}

.button{
    background-color:rgba(3, 3, 158, 0.934);
    color: white;
}

#fecha{
    border-radius: 3px;
    background-color: rgba(3, 3, 158, 0.934);
    color: white;
    padding: 3px;
    margin: 0;
}

